<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>جزئیات سفارش</title>
  <style>
    input {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
}
  </style>
</head>
<body dir="rtl">
    <h2> {{mmsg}} </h2>
    <h3>برای حذف یک ردیف سفارش، تعداد آن را صفر کنید. (و یا باکس تعداد را خالی بگذارید)</h3>
  <form action="/user-order-details/" method="post">{% csrf_token %}
    <label for="orderNum">شماره سفارش: </label> 
    <input type="number" id="orderNum" name="orderNum" value="{{orderNum}}" readonly>
        <table>
          <thead>
              <tr>
                  <th>کد سفارش</th>
                  <th> کالا</th>
                  <th> رنگ</th>
                  <th> طرح</th>
                  <th>عرض</th>
                  <th>طول</th>
                  <th>صخامت</th>
                  <th>تعداد</th>
                  <th>توضیحات</th>
              </tr>
          </thead>
          <tbody>
            {% if vaziat == "sabt shode"  or vaziat == "rad shode" %}
                {% for r in result %}
                <tr>
                    <td><input type="number" id="orderID{{forloop.counter}}" name="orderID{{forloop.counter}}" value="{{r.orderID}}" readonly></td>
                    <td>
                        <select name="good_description{{forloop.counter}}" id="good_description{{forloop.counter}}" >
                        <option value="{{r.good_description}}" selected>{{r.good_description}}</option>
                        {% for good in goodoptions %}
                        <option value="{{good.g_description}}">{{good.g_description}}</option>
                        {% endfor %}
                    </select>
                    </td>
                    <td>
                        <select name="color_description{{forloop.counter}}" id="color_description{{forloop.counter}}" >
                            {% if r.color_description == "non" %}
                            <option value="{{r.color_description}}" selected></option>
                            {% else %}
                            <option value="{{r.color_description}}" selected>{{r.color_description}}</option>
                            {% endif %}
                        <option value="non" ></option>
                        {% for color in coloroptions %}
                        <option value="{{color.c_description}}">{{color.c_description}}</option>
                        {% endfor %}
                    </select>
                    </td>
                    <td>
                        <select name="design_description{{forloop.counter}}" id="design_description{{forloop.counter}}" >
                            {% if r.design_description == "non" %}
                            <option value="{{r.design_description}}" selected></option>
                            {% else %}
                            <option value="{{r.design_description}}" selected>{{r.design_description}}</option>
                            {% endif %}
                        <option value="non" ></option>
                        {% for design in designoptions %}
                        <option value="{{design.d_description}}">{{design.d_description}}</option>
                        {% endfor %}
                    </select>
                    </td>
                    <td>
                        <input type="number" step="0.01" name="width{{forloop.counter}}" value="{{r.width}}" placeholder="عرض" >
                    </td>
                    <td>
                        <input type="number" step="0.01" name="length{{forloop.counter}}" value="{{r.length}}" placeholder="طول" >
                    </td>
                    <td>
                        <input type="number" step="0.01" name="thickness{{forloop.counter}}" value="{{r.thickness}}" placeholder="ضخامت" >
                    </td>
                    <td>
                        <input type="number" name="count{{forloop.counter}}" value="{{r.count}}" placeholder="تعداد" >
                    </td>
                    <td>
                        <input type="text" name="tozihat_1order{{forloop.counter}}" value="{{r.tozihat_1order}}" placeholder="توضیحات" >
                    </td>
                </tr>
                {% endfor %}
                <label for="tozihat_5orders">توضیحات مربوط به کل سفارش</label><br>
                <input type="text" name="tozihat_5orders" value="{{tozih_kol}}" placeholder="توضیحات" >
            {% else %}
            <p>فقط سفارشات در حال بررسی یا رد شده، قابل ویرایش هست. شما قادر به ویرایش این سفارش نیستید.</p>
            {% for r in result %}
            <tr>
                <td><input type="number" id="orderID{{forloop.counter}}" name="orderID{{forloop.counter}}" value="{{r.orderID}}" readonly></td>
                <td>
                    <select name="good_description{{forloop.counter}}" id="good_description{{forloop.counter}}" >
                    <option value="{{r.good_description}}" selected>{{r.good_description}}</option>
                </select>
                </td>
                <td>
                    <select name="color_description{{forloop.counter}}" id="color_description{{forloop.counter}}" >
                    <option value="{{r.color_description}}" selected>{{r.color_description}}</option>
                </select>
                </td>
                <td>
                    <select name="design_description{{forloop.counter}}" id="design_description{{forloop.counter}}" >
                    <option value="{{r.design_description}}" selected>{{r.design_description}}</option>
                </select>
                </td>
                <td>
                    <input type="number" step="0.01" name="width{{forloop.counter}}" value="{{r.width}}" placeholder="عرض" readonly>
                </td>
                <td>
                    <input type="number" step="0.01" name="length{{forloop.counter}}" value="{{r.length}}" placeholder="طول" readonly>
                </td>
                <td>
                    <input type="number" step="0.01" name="thickness{{forloop.counter}}" value="{{r.thickness}}" placeholder="ضخامت" readonly>
                </td>
                <td>
                    <input type="number" name="count{{forloop.counter}}" value="{{r.count}}" placeholder="تعداد" readonly>
                </td>
                <td>
                    <input type="text" name="tozihat_1order{{forloop.counter}}" value="{{r.tozihat_1order}}" placeholder="توضیحات" readonly>
                </td>
            </tr>
            {% endfor %}
            <label for="tozihat_5orders">توضیحات مربوط به کل سفارش</label><br>
            <input type="text" name="tozihat_5orders" value="{{tozih_kol}}" placeholder="توضیحات" readonly>
            {% endif %}
            </tbody>
      </table>
      <label for="resultcount">تعداد سفارش های این دسته: </label> 
      <input type="number" id="resultcount" name="resultcount" value="{{resultcount}}" readonly>
      <p>تاریخ: {{tarikh}}</p>
      <p>وضعیت سفارش: {{vaziat}}</p>
      <p>متن ادمین: {{adminToUser}}</p>
    <button class="button-73" type="submit">اعمال تغییرات ویرایش شده</button>
    
  </form>

  <center><form action="/new-order/" method="get"><button class="button-73"  type="submit" name="orderNum" value="{{orderNum}}">افزودن ردیف جدید</button></form></center>

</body>
</html>